pytorch_lightning==1.2.10
transformers==4.5.1
datasets
fastapi
uvicorn
hydra-core
matplotlib
numpy
omegaconf
onnxruntime
onnxruntime_gpu
pandas
scikit_learn
scipy
seaborn
torch
torchmetrics==0.2.0
wandb
